{{#link-to 'post' post.id}}
  <h2>{{post.title}}</h2>
  <h5>{{post.date}}</h5>
  <img class="post-image" src="{{post.image}}"/>
  <br>
  <p class="post">
    {{post.text}}
  </p>
  <br>
  <br>
{{/link-to}}
