.post-image {
  width: 600px;
  border: 10px;
  border-style: outset;
  margin: auto;
  display: block;
}

body {
  background-color: rgb(29, 89, 135);
  text-align: center;
}

header {
  background-image: url(/image/city-banner.jpg);
  background-size: cover;
}

nav a {
  font-size: 30px;
  font-family: 'Dawning of a New Day', cursive;
  color: #85FFFA !important;
  margin: 20px;
}

.nav {
  background-color: #5355FF;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar {

  height: 250px;
  opacity: .80;
}

.post {
  display: block;
  margin: auto;
  max-width: 650px;
  text-align: center;
  font-family: 'The Girl Next Door', cursive;
  font-size: 24px;
}

#header-name {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}
