body {
  background-color: rgb(29, 89, 135);
  text-align: center;
  color: #2D73AD;
}

header {
  background-image: url(/image/city-banner.jpg);
  background-size: cover;
}

nav a {
  font-size: 30px;
  font-family: 'Dawning of a New Day', cursive;
  color: #85FFFA !important;
  margin: 20px;
}

.boxed  {
  background: #003F82;
  margin: 50px auto;
  border: 0 none;
  padding: 20px;
  opacity: .8;
}

.nav {
  background-color: #003F82;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  margin: 5px;
}

.navbar {

  height: 250px;
  opacity: .80;
}

.post {
  display: block;
  margin: auto;
  max-width: 650px;
  text-align: center;
  font-family: 'The Girl Next Door', cursive;
  font-size: 24px;
}

.post-image {
  width: 600px;
  border: 10px;
  border-style: outset;
  margin: auto;
  display: block;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(#7EE8D4,#82BDFC,#82BDFC);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    color: white;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

#header-name {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  margin-top: 0;
  padding-top: 20px;
}
