<header>
  <h1 id="header-name">Annie's Portland Favorites</h1>
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
          <img src="image/menu.png" alt="" />
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar1">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <ul class="nav navbar-nav">
          <li class="nav-links">{{#link-to 'index'}}Home{{/link-to}}</li>
          <li class="nav-links">{{#link-to "about"}}About Annie {{/link-to}}</li>
          <li class="nav-links">{{#link-to "contact"}}Contact Annie {{/link-to}}</li>
          <li class="nav-links">{{#link-to "admin"}}Admin Page {{/link-to}}</li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<br>
<div class="container">
  {{outlet}}
</div>


<!-- <div class="row">
<h4 class="about-link col-md-4">{{#link-to "about"}}About Annie {{/link-to}}</h4>
<h4 class="contact-link col-md-4">{{#link-to "contact"}}Contact Annie {{/link-to}}</h4>
<h4 class="admin-link col-md-4">{{#link-to "admin"}}Admin Page {{/link-to}}</h4>
</div> -->
