<button class="btn btn-warning" type="button" {{action 'openNav'}}>See Comments</button>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" {{action 'closeNav'}}>&times;</a>
  {{#each model.comments as |comment|}}
    {{recent-comments comment=comment}}
  {{/each}}
</div>
{{#each model.posts as |post|}}
  {{post-tile post=post destroyPost="destroyPost"}}
{{/each}}
